body {
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
}
      
form {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #cccccc;
    margin: auto;
    padding: 20px;
    width: 50%;
}
      
label {
    color: #555555;
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
}
      
input[type="text"] {
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #cccccc;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}
      
input[type="submit"] {
    background-color: #ff5500;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
}
      
input[type="submit"]:hover {
    background-color: #ff7f50;
}